#ifndef CONFIG_H
#define CONFIG_H

#define MTCP_PROGRAM_NAME "ftp2p"

#include "global.cfg"

#define COMPILE_ARP
#define IP_FRAGMENTS_ON
#define COMPILE_UDP
#define COMPILE_TCP
#define COMPILE_DNS
#define COMPILE_ICMP
#define TCP_LISTEN_CODE

#undef PACKET_BUFFERS
#undef TCP_MAX_SOCKETS
#undef TCP_MAX_XMIT_BUFS
#undef TCP_CLOSE_TIMEOUT

#define PACKET_BUFFERS            (20)   // Number of incoming buffers

#define TCP_MAX_SOCKETS            (3)   // Maximum number of sockets to use
#define TCP_MAX_XMIT_BUFS         (20)   // Number of x-mit buffers to create
#define TCP_CLOSE_TIMEOUT    (10000ul)   // MS before forcing a socket closed

#endif
